@font-face {
    font-family: "Font";
    src: url("C:\Users\niupi\Desktop\PI-Videogames-main\client\src\Font\Valorant Font.ttf");
  }
.card{
    background-color:#21264b;    
    width: 17rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:1rem;
    border:solid 0.4rem #8022FF;
    border-radius: 1.2rem;
    
    color: white;
    font-family: "Font";
    
}
.div_img{
    width: 16rem;
    height: 15rem;   
}

.div_img:hover{
    transition-duration:2000ms;
    transform:rotate(360deg);
    opacity: 0;
    cursor: grab
}


.div_cont_card{
    background-image: url("https://i.pinimg.com/originals/4c/0e/0e/4c0e0e63b1907cfaef6dcac328b217c4.gif");
    height: 15rem;
    width: 16rem;
}