@font-face {
    font-family: "Font";
    src: url("C:\Users\niupi\Desktop\PI-Videogames-main\client\src\Font\Valorant Font.ttf");
  }
.div_cont{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#21264bf2;  
    border:solid 0.4rem #8222ffb7;
    border-radius: 1.2rem;
    margin: 2.2rem;
    padding: 1rem;
    color: white;
    font-family: Font;
    gap: 3rem;
}
.div_img{
    display: flex;
    justify-content: center;
    padding: 5rem;
    height: 17.5rem;
}
.detalle{
  border: 3px solid rgb(165, 42, 42);
  padding: 0.5rem;
}
.descrip{
    background-color: rgb(165, 42, 42);
    width: 50rem;
}
.name{
    display: flex;
    justify-content: center;
    height: 1rem;
}