.div_cont{
    color:white;
    font-family: "Font";
 
}
h1{
    color:white;
    display: flex;
    justify-content: center;
}
.filtros{
   display: flex;
   align-items: center;
   justify-content: center;
   gap:2rem;

}
.flecha,
.return{
    width: 5rem;
    height: 4.9rem;
   
}
.flecha2{
    width: 5rem;
    height: 4.9rem;
}
.div_Az,
.div_Za{
    background-color: white;
    width: 6rem;
    height: 4.5rem;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border:0.35rem solid black
}
.div_Platforms,

.div_Genres{
   
    background-color: #8022FF;
    border:0.4rem solid black;
    border-radius: 3rem;
    width: 15rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.div_Rating{
    background-color: #8022FF;
    border:0.4rem solid black;
    border-radius: 3rem;
    width: 11.2rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div_Games{
    background-color: #8022FF;
    width: 10rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border:0.4rem solid black;
    border-radius: 3rem;
}

.az,
.za{
    width: 5rem
}