@font-face {
    font-family: "Font";
    src: url("../../Font/Valorant\ Font.ttf");
  }

.nav-cont{
    /* rgba(6, 15, 60, 0.279) */
    /* background-color: rgb(0, 0, 0); */
    background-color: rgba(114, 17, 194, 0.824);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4.3rem;
}
.nav-img-cont img{
    width: 7rem;
    margin-top: 0.5rem;
    
}

.nav-link-cont{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    width: 10rem;
    font-family: "Font";
    border-radius: 1rem;
    font-size: 1.5rem;
    gap: 1rem;
   

}

.nav-img-form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-img-home img{
    height: 4.1rem;
}
.nav-img-form img{
    height: 3rem;
}
.link{
    color:rgb(255, 255, 255);
    
}
.input-nav{
    margin-right: -19rem;
    background-color: #2A1280;
    color:white;
    border-radius: 1rem;
    height: 2rem;
}
.button-nav{
    background-color: #FF3AA4;
    border-radius: 1rem;
    margin-left: 19.5rem;
    height: 2rem;
}
.div_img img{
    height: 4.3rem;
}